/* style.css */



header {
    
    
    background-color: #ffffff;  /* Fond noir pour le header */
    color: rgb(68, 68, 68);
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Ombre portée du header */
}

nav
{
    padding: 15px;
    border-radius: 15px;
    background-color: #d4d4d4;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;  /* Retirer le soulignement */
    font-weight: bold;
    transition: all 0.3s ease;  /* Effet de transition pour le survol */
    font-family: 'Verdana', sans-serif;  /* Changer la police */
    font-size: 16px;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #FFD700;  /* Couleur dorée au survol */
    background-color: rgba(255, 215, 0, 0.1);  /* Fond transparent doré */
    border-radius: 5px;  /* Coins arrondis */
}

/* Section des concepts */
#concepts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #d4d4d4;  /* Fond sombre pour la section des concepts */
}

.concept {
    margin: 0 20px 20px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: #bcbcbc;  /* Fond noir avec opacité */
    padding: 20px;
    border-radius: 15px;  /* Coins arrondis pour les concepts */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /* Ombre portée */
    width: 250px;  /* Largeur de base */
    color: white;
}

.concept h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.concept ul {
    padding: 0;
    list-style-type: none;
}

.concept ul li {
    font-size: 14px;
    margin: 5px 0;
}

.concept .color-box {
    display: flex;
    justify-content: space-between; /* Répartition des couleurs */
    margin-top: 10px;
    width: 100%;
}

.concept .color-box div {
    height: 20px;
    border-radius: 5px;
    flex-grow: 1; /* Étend les boîtes de couleur pour occuper la largeur */
    margin: 0 5px;
}

/* Changement de couleurs de fond sur le survol de chaque concept */
.concept:hover {
    background: rgba(255, 165, 0, 0.8);  /* Fond orange vif au survol */
    transform: scale(1.05); /* Légère mise en échelle au survol */
    transition: all 0.3s ease;
}

/* Section principale */
.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
}
